.services{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
}
.services-heading h3{
    color: #555555;
    font-size: 40px;
}
.services-heading h3 span{
    color: #89be16 !important;
}
.services-heading{
    text-align: center;
}
.services-heading p{
     color: #adacac;
}
@media only screen and (max-width:576px) {
    .services {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin:auto;
    }
    .services-heading h3 {
        color: #555555;
        font-size: 20px;
    }
}
@media only screen and (max-width:768px) {
    .services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin:auto;
        overflow-x: hidden;
        
    }
    .services-heading h3 {
        color: #555555;
        font-size: 20px;
    }
}